@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

/* intro style */
.container-fluid {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 60px;
  box-shadow: 1px 0 1px #fff;
}

.header-nav {
  display: none;
}
/* logo style */
.d-flex-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 0 0;
}

/* main content style */
.hero {
  width: 100%;
  padding: 1rem;
  background-image: url("./images/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

/* intro style */
.intro {
  margin-top: 3.5rem;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.intro p {
  line-height: 2rem;
}

/* lets connect */
 .connect {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.social-icons {
  display: flex;
  padding: 1rem 0;
}

.social-icons a {
  padding: 1rem 1.5rem 1rem 0;
}

/* end of intro style */

/* article styling */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.recent-work h2 {
  padding: 2rem 0 0 1rem;
}
.desktop-snapshoot {
  display: none;
}
.section2 {
  margin: 4rem 1rem 1rem 1rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.section2 .showcase-img {
  width: 100%;
}

.section2 h2 {
  font-size: 2.5rem;
}

.article {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.article:not(:first-child) {
  color: #7a869a;
}

.section2 > p {
  margin: 1rem 0;
}

.available-articles {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.available-articles a {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 0.35rem 1rem;
  color: #6070ff;
  font-weight: 500;
}

.action-btn,
.getInTouch-btn,
.live-source a {
  display: flex;
  align-self: flex-start;
  color: #396df2;
  border-radius: 6px;
  border: 1px solid #396df2;
  padding: 0.6rem 1rem;
  margin: 1rem 0;
  white-space: nowrap;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.action-btn:hover {
  background-color: #396df2;
  color: #fff;
}

/* about me section style */

.about-me {
  background-color: #fff;
  margin-top: 7.5rem;
  border-top-right-radius: 60px;
  padding: 6rem 1rem 10rem 1rem;
  line-height: 2rem;
}

.about-me h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  padding-bottom: 1rem;
}

/* social icons */
.social {
  padding-left: 1rem;
}

.list-items {
  position: relative;
}

.list-items a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color:#344563;
}

/* inner list items */

.inner-list-items li {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 2rem;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 1rem 0 1rem 1rem;
}

.inner-list-items li span {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 20px;
  padding-left: 1.5rem;
}

/* contact form style */

.form-container {
  background-color: #6070ff;
  background-image: url("images/contact form shapes-mobile@2x.svg");
  background-size: contain;
  background-position: 115% 0%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
}

.contact-header {
  text-align: center;
  margin: 5rem auto 2rem auto;
  width: 80%;
}

.contact-header h2 {
  font-size: 2.5rem;
  color: #fff;
}

.contact-header p {
  font-size: 1.2rem;
  color: #ebebff;
}

form {
  width: 80%;
  margin: 3rem auto;
}

input,
textarea {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 18px;
}

input::placeholder {
  color: #172b4d;
}

textarea {
  height: 13rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 1rem;
}

textarea::placeholder {
  color: #b3bac5;
}

.btn {
  padding: 1rem;
  border-radius: 8px;
  color: #6070ff;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
}

/* desktop version style */
@media (min-width: 768px) {
  /* intro style */
  .container-fluid {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 5rem;
    background-color: #fff;
    border-bottom-left-radius: 60px;
    box-shadow: 1px 0 1px #fff;
  }

  header .logo-menubar {
    margin-left: 2rem;
  }

  .logo-menubar {
    display: flex;

  }

  .menu-icon {
    display: none;
  }
  .hero {
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/Header-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 7rem 0 7rem 7rem;
  }

  .nav-ul li {
    padding: 0 1rem;
  }

  .intro h1 {
    width: 35%;
  }

  .intro p {
    width: 60%;
    padding-bottom: 1.5rem;
  }


/* article styling */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.d-flex-column {
  display: flex;
  flex-direction: row;
  line-height: 1.6;
  padding: 2rem 7rem;
  justify-content: center;
  align-content: center;
}

.about {
  background-color: #fff;
  margin-top: 5.5rem;
  border-top-right-radius: 60px;
  padding: 6rem 7rem 10rem 7rem;
  line-height: 2rem;
}

.about-me {
  margin-top: 0;
  padding: 0;
  line-height: 2rem;
}
.about-me p {
  width: 80%;
}

section .img{
width: 100%;
object-fit: cover;
margin-right: 2rem;
}
.yoga {
  display: none;
}

.header-nav,
.desktop-snapshoot,
.inner-list-items {
  display: flex;
}

.list-items:not(:first-child) {
  border-bottom: 1px solid #DFE1E6;
  padding-top: 1rem;
}

.inner-list-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 1rem;
  flex-direction: column;
}

.inner-list-items li span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  padding-left: 0;
  padding-top: 1rem;
}

/* form styles */
.form-container {
  background-color: #6070ff;
  background-image: url("images/contact\ form\ background\ shapes.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 50px;
  margin-top: -5%;
}

.contact-header {
  margin: 5rem auto 2rem auto;
  width: 60%;
}

.contact-header h2 {
  font-size: 2.5rem;
  color: #fff;
}

.contact-header p {
  font-size: 1.2rem;
  color: #ebebff;
}

form {
  width: 50%;
  margin: 3rem auto;
}

input,
textarea {
  padding: 1rem;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 18px;
}
.btn {
  padding: 1rem;
  border-radius: 0;
  color: #6070ff;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
}

.available-articles, .article {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}

.available-articles a {
  background-color: #ebebff;
  border-radius: 8px;
  margin: 0 1rem;
  padding: 0.35rem 1rem;
  color: #6070ff;
  font-weight: 500;
}

.article img {
  padding: 0 1rem;
}
.available-articles li:first-child a{
  margin-left: 0;
}

.section2 h2{
  font-size: 2rem;
}

article > p {
  margin: 0;
  width: 100%;
}
.about-me h2 {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 1rem;
}

.action-btn {
  margin-top: 2rem;
}

/* .section2:nth-of-type(1) {
 order: -1;
} */


.one {
  order: 3;
}
.two, .four {
  display: flex;
flex-direction: row-reverse;
}

.three {
 order: -1;
}

.four {




}
